In [ ]:
skaicius = 42
vardas = "John"
rezultatas = vardas + skaicius # TypeError: can only concatenate str (not "int") to str

In [ ]:
skaicius = 42
vardas = "John"
try:
    rezultatas = vardas + skaicius
except TypeError:
    print("Klaida: negalima sudėti 'str' ir 'int' tipų duomenų") # Klaida: negalima sudėti 'str' ir 'int' tipų duomenų

In [ ]:
a = 10
print(b) # NameError: name 'b' is not defined

In [ ]:
a = 10
try:
    print(b)
except NameError:
    print("Klaida: kintamasis nebuvo apibrėžtas") # Klaida: kintamasis nebuvo apibrėžtas

In [ ]:
try:
    x = int('abc')
except ValueError:
    print("Klaida: negalima konvertuoti reikšmės į skaičių") # Klaida: negalima konvertuoti reikšmės į skaičių

In [ ]:
try:
    x = 1/0
except ZeroDivisionError:
    print("Klaida: negalima dalinti iš nulio") # Klaida: negalima dalinti iš nulio

In [ ]:
sarasas = [1, 2, 3]

try:
    print(sarasas[3])
except IndexError:
    print("Klaida: indeksas viršija sąrašo ribas") # Klaida: indeksas viršija sąrašo ribas

In [ ]:
zodynas = {"a": 1, "b": 2, "c": 3}

try:
    print(zodynas["d"])
except KeyError:
    print("Klaida: rakto reikšmė neegzistuoja žodyne") # Klaida: rakto reikšmė neegzistuoja žodyne

In [ ]:
class Asmuo:
    def __init__(self, vardas, amzius):
        self.vardas = vardas
        self.amzius = amzius

zmogus = Asmuo("Jonas", 25)
print(zmogus.vardas)  # Jonas
print(zmogus.pavarde)  # AttributeError: 'Asmuo' object has no attribute 'pavarde'

In [ ]:
try:
    print(zmogus.pavarde)
except AttributeError:
    print("Klaida: `pavarde` atributas neegzistuoja") # Klaida: `pavarde` atributas neegzistuoja

In [ ]:
if hasattr(zmogus, 'pavarde'):
    print(zmogus.pavarde)
else:
    print("Klaida: `pavarde` atributas neegzistuoja") # Klaida: `pavarde` atributas neegzistuoja

In [ ]:
try:
    x = 1 / 0
except Exception as e:
    print("Išimtis:", e) # Išimtis: division by zero

In [ ]:
try:
    x = 1 / 0
except Exception as e:
    print("Išimtis:", e.__class__.__name__) # Išimtis: ZeroDivisionError