## Pirma užduotis

CREATE TABLE studentai (
  studento_id INTEGER PRIMARY KEY,
  vardas VARCHAR(50),
  pavardė VARCHAR(50),
  studijų_programa VARCHAR(100),
  el_paštas VARCHAR(50)
);

ALTER TABLE studentai
ADD gimimo_data DATE;

ALTER TABLE studentai
ALTER COLUMN studijų_programa TEXT;

DROP TABLE studentai;

## Antra užduotis

CREATE TABLE dėstytojai (
  dėstytojo_id INTEGER PRIMARY KEY,
  vardas VARCHAR(50),
  pavardė VARCHAR(50),
  skyrius VARCHAR(100),
  el_paštas VARCHAR(50)
);

ALTER TABLE dėstytojai
ADD kabineto_nr INT;

DROP TABLE dėstytojai;